html, body {
  background-color: #B9D9EB; /* 배경색 */
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;  /* 기본 margin 제거해야 불필요한 여백 x */
  overflow: hidden; /* 불필요한 세로 스크롤 제거 */
}

/* layout.tsx */
.navbar {
  align-items: center;  /* 세로축에 대해 중앙 정렬 */
  color: white;
  display: flex;
  margin-bottom: 5%;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.title {
  color: #005EB8;
  display: inline-block;
  font-size: 45px;
  font-weight: bold;
  line-height: 0.7;
  margin: 15px 15px;
  position: relative;
  text-decoration: none; /* Link의 기본 underline 제거 */
}

.title-2 {
  color: white;
  padding-left: 58px;
  text-shadow: 1px 1px 1px #006EB8;
}

.irumae {
  align-items: center;
  display: flex;
}

.description {
  font-size: 20px;
  margin-top: 15px;
  padding: 30px;
}



/* page.tsx */
.dropdown-wrapper{
  display: flex;
  margin-top: 115px;
}

.map-container {
  background: #63666A;
  border-radius: 10px; /* 모서리 둥글게 */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
  color: white;
  display: flex;
  font-size: 30px;
  height: 70vh; /* 지도 상하 높이 소폭 늘림 */
  margin: 2px auto;
  width: 80%;
}

.modal-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-height: 80vh;
  overflow-y: auto;
  padding: 24px;
  position: relative;
  width: 500px; /*모달창 크기 확대 */
}

.modal-content button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 16px;
  top: 12px;
}

.service-icons {
  display: flex;
  justify-content: space-between;
  gap: 4px; /* 아이콘 사이 여백 */
  margin-top: 8px;
}

.service-icons img {
  width: 120px;
  height: auto;
  display: block;
  text-align: center;
}

.special-hr {
  display: block;
  margin: 0.0em 0;
  border: none;
  border-top: 2px solid #aaa;
  height: 0;
}

.button-container {
  display: flex;
  gap: 10px;
}

.dropdown-button {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

.dropdown-button:hover {
  background-color: #f0f0f0;
}

.dropdown-button.selected {
  background-color: #004094;
  color: white;
  border: none;
}

.dropdown-container{
  margin-left: 10%; 
  padding: 5px;
  
}

.dropdown-list{
  position: absolute; /* dropdown이 내려왔을때 지도 안내려가게 하는거 */
  z-index: 100; /* z 축 : 지도 앞으로 나오게 하기 */
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.map-label {
  font-size: 14px;
  font-weight: bold;
  color: #2b2b2b;
  text-shadow: 1px 1px 2px white;
  white-space: nowrap;
}