html, body {
  background: linear-gradient(to bottom right, #f0f0f0, #B9D9EB);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  overflow: hidden; /* 불필요한 스크롤 제거 */
}



/* 내비게이션 바 */
.navbar {
  align-items: center;
  color: white;
  display: flex;
  margin-bottom: 5%;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.title {
  color: #005EB8;
  display: inline-block;
  font-size: 45px;
  font-weight: bold;
  line-height: 0.7;
  margin: 15px 15px;
  position: relative;
  text-decoration: none;
  animation: float1 3s ease-in-out infinite;
}

.title-2 {
  display: inline-block;
  color: white;
  padding-left: 58px;
  text-shadow: 1px 1px 1px #006EB8;
  white-space: nowrap;
  animation: float2 3s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes float1 {
  0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(-6px); }
}

@keyframes float2 {
  0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(-4px); }
}

.irumae {
  align-items: center;
  display: flex;
}

.speech-bubble {
  display: inline-block;
  position: relative;
  background: #9BCBEB;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 14px;
  margin-left: 70px;
}
.speech-bubble::after {
  content: '';
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-80%);
  border: 10px solid transparent;
  border-right-color: #9BCBEB;
}

/* 타이핑 커서 깜빡임 효과 */
.speech-bubble span {
  border-right: 2px solid white;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 0.7s step-end infinite;
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  50% { border-color: white; }
}

.top-wrapper {
  display: flex;
  position: fixed;
  top: 2%;
  right: 3%;
  gap: 30px;
  align-items: flex-start;
  z-index: 1002;
}





/* 검색 */
.search-container {
  display: flex;
  align-items: flex-start;
  transition: all 0.3s ease;
}

.search-bar {
  display: flex;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #005EB8;
  font-size: 14px;
  margin-left: 15px;
  margin-top: 2px;
  padding-bottom: 5px;
  width: 0;
  opacity: 0;
  transition: width 0.3s cubic-bezier(0.4,0,0.2,1), opacity 0.2s, padding 0.3s;
  pointer-events: none;
  color: #005EB8;
}

/* 검색창 미리보기 */
.search-bar::placeholder{
  color: #63666A; /* 시립대 grey */
  opacity: 0.5;
}

.search-bar.open {
  width: 150px;
  opacity: 1;
  padding: 0 8px;
  margin-top: 2px;
  padding-bottom: 5px;
  pointer-events: auto;
}

.search-result {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  background: white;
  color: #004094;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  box-shadow: 0 0 15px #BBBCBC; /* 시립대 grey */
  font-size: 14px;
}

.search-result > div {
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.search-result > div:hover {
  background-color: #B9D9EB;
}

.search-result.close {
  display: none;
}

.search-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.search-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.search-img {
  pointer-events: none;
  justify-content: center;
  align-items: center;
}




.login-wrapper {
  position: relative;
  display: flex;
  gap: 5px;
  z-index: 1001;
}

.login-button,
.signup-button {
  background-color: transparent;
  color: #005eb8;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  padding: 3px 7px;
  cursor: pointer;
}

.login-overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.login-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-input {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 14px;
}

.login-submit-button {
  background-color: #005eb8;
  color: white;
  padding: 8px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 로그인 회원가입 버튼 사이 구분선 */
.divider {
  display: inline-block;
  width: 1px;          
  height: 16px;    
  background-color: #005EB8; 
  margin: 0 10px;     
  align-self: center;
}

.modal-content.logout-confirm {
  text-align: center;
  width: 50vw;          /* 화면 너비의 80% */
  max-width: 400px;     /* 최대 너비 제한 */
  height: auto;         /* 내용에 따라 높이 조절 */
  padding: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.confirm-button {
  background-color: #e74c3c;
  color: white;
}

.cancel-button {
  background-color: #bdc3c7;
  color: black;
}





/* 모달 오버레이 */
.modal-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

/* 모달 본체 */
.modal-content {
  background-color: #DCEBEC; /* 수정한 배경색 */
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-height: 80vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}


/* 모달 이미지 */
.modal-header-image {
  width: 100%;
  height: 250px; /* 여백 줄인 부분 */
  overflow: hidden;
  flex-shrink: 0;
}

.modal-header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 스크롤 가능한 본문 */
.modal-body-scrollable {
  padding: 8px; /* 위쪽 여백 줄임 */
  overflow-y: auto;
  max-height: calc(80vh - 140px); /* 이미지 높이 반영 */
}

/* 모달 탭 버튼 */
.modal-tab-buttons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin: 12px 0;
}

.modal-tab-buttons button {
  flex: 1;
  padding: 10px 0;
  font-size: 15px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  color: #555;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

.modal-tab-buttons button.active {
  background: #004094;
  color: #fff;
  border-bottom: 2px solid #004094;
  font-weight: 600;
}

.modal-tab-content {
  margin-top: 8px;
}

.modal-close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 16px;
  top: 12px;
}

/* 이용방법 아이콘 */
.service-icons {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin-top: 8px;
}

.service-icons img {
  width: 120px;
  height: auto;
  display: block;
  text-align: center;
}

/* 구분선 */
.special-hr {
  display: block;
  margin: 0;
  border: none;
  border-top: 2px solid #aaa;
  height: 0;
}

/* 레이아웃 요소들 */
.top-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-top: 30px;
}

.keyword-container {
  display: flex;
  flex: 1 1 auto; /* top-bar 아래 남은 공간 모두 차지 */
  overflow: visible;       
  position: relative;
}

.top-bar-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.top-bar-right {
  display: flex;
  gap: 10px;
  align-items: center;   /* seledted버튼과 reset버튼 중심을 맞춤 */
}

.top-bar {
  display: flex;
  justify-content: space-between;      /* top-bar-left와 top-bar-right를 각각 왼쪽/오른쪽 끝으로 붙임 */
  align-items: center;
  gap: 15px;
  padding: 0 5%;        /* 왼쪽 오른쪽 5%씩 여백 */
  height: 60px;         /* 고정 높이 */
  z-index: 100;           
}

.map-container {
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  bottom: 18%;
  
  background: #63666A;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 30px;
  z-index: 100;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 반응형 미디어 쿼리: 가로폭이 일정 이상으로 줄어들면 키워드박스와 seledted버튼이 축약됨 */
@media (max-width: 920px) {
  .selected-button {
    display: none !important;
  }

  .selected-hamburger {
    display: flex !important;
  }
}

.keyword-box {
  position: absolute;
  top: 0px;
  left: 5%;
  width: 320px;
  height: 77.3%;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  overflow-y: auto;
  max-height: calc(100% - 60px);

  /* 등장 효과 기본값 */
  transform: scale(0.8) translateX(-10%);
  transform-origin: top left;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1001;
}

.keyword-box.open {
  transform: scale(1) translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.keyword-wrapper {
  display: flex;
  position: relative;
  top: 0;
  left: 5%;
  align-items: flex-start;
  z-index: 1001;
}


.keyword-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9BCBEB;
  color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 50px;
  width: 25px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
  border: none;
  transition: all 0.3s ease;
  z-index: 999;

  /* 맵 기준 위치 */
  position: absolute;
  top: 230px;
  left: -3px
}

.keyword-toggle.open {
  left: 352px; /* 오른쪽으로 이동 */
  top: 230px;
}

.keyword-toggle:hover {
  transform: scale(1.1);
}

.filter-wrapper {
  display: flex;
}


.button-container {
  display: flex;
  gap : 10px;
}


.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  margin-top: 20px;
  background: #9BCBEB;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  white-space: nowrap;
  /* width: fit-content; */
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
  position: relative;
  line-height: 1;
}

.filter-button:hover {
  background-color: white;
  color: black;
  transform: translateY(-5px);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

.filter-button.selected {
  background-color: #004094;
  color: white;
  border: none;
  animation: none;
}

.reset-wrapper {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.reset-wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.reset-button {
  position: relative;
  display: inline-block;
  width: max-content;
  padding: 10px 12px;
  font-size: 14px;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000; 
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  perspective: 500px;
  transition: transform 0.5s ease;
  line-height: 1;
}

.reset-button::after {
  content: attr(data-text);
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: 1px;
  background: #fff; 
  color: #000;      
  border-radius: 20px;
  transform: translateY(0) rotateX(0);
  transform-origin: top;
  transition: transform 0.5s;
  backface-visibility: hidden;
}

.reset-button::before {
  content: attr(data-text);
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: 1px;
  background: #004094; 
  color: #fff;        
  border-radius: 20px;
  transform: translateY(-100%) rotateX(90deg);
  transform-origin: bottom;
  transition: transform 0.5s;
  backface-visibility: hidden;
}

.reset-button:hover::before {
  transform: translateY(0) rotateX(0);
}
.reset-button:hover::after {
  transform: translateY(100%) rotateX(90deg);
}

.map-label {
  font-size: 14px;
  font-weight: bold;
  color: #2b2b2b;
  text-shadow: 1px 1px 2px white;
  white-space: nowrap;
}

.selected-button {
  font-size: 14px;
  color: #004094;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 12px;
  border-radius: 20px;
  gap: 10px;
  display: flex;
  width: fit-content;
}

.selected-hamburger {
  display: none;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0px 12px 10px 12px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;     

  box-shadow: 0px 5px 0px 0px #004094;  
  transition: all 0.1s ease-in-out;
}

.selected-hamburger:hover {
  box-shadow: 0px 0px 0px 0px #004094;
  margin-top: 5px;
  margin-bottom: -5px; 
}

.selected-hamburger .dropdown-list {
  display: none;
  position: absolute;
  top: 115%;            
  right: -50%;
  
  flex-direction: column;
  gap: 5px;
  
  background: white;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 400;
  width: max-content;   /* 컨테이너 폭이 가장 긴 항목에 맞도록 조절 */
}

.selected-hamburger:hover .dropdown-list {
  display: flex;
}

.irumae-wrapper {
  position: relative;
  width: 50px;
  height: 70px;
  margin-left: 180px;
  margin-top: 20px;
}

.irumae-img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.irumae-mask {
  width: 50px;
  height: 70px;
  z-index: 3;
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;

}

.image-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 70px;

  overflow: hidden;
}


.image-wrapper::after {
  content: "";
  position: absolute;
  top: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: rotate(25deg);
  animation: sweep 2s infinite;
  z-index: 2;
  pointer-events: none;
}

.image-wrapper:hover::after {
  animation: none;
  opacity: 0;
}

@keyframes sweep {
  0% {
    transform: translateX(-100%) rotate(25deg);
  }
  100% {
    transform: translateX(100%) rotate(25deg);
  }
}



@media (max-width: 768px) {
  .button-container {
    position: fixed;
    margin: 16px auto 0 auto;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    left: 6%;
    top: 175px;
  }

  .modal-content {
    width: 90%;
  }

  .service-icons img {
    width: 80px;
  }

  .speech-bubble {
    display: none;
  }

  .keyword-box {
  position: absolute;
  left: 5%;
  width: 280px;
  height: 76%;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  overflow-y: auto;
  max-height: calc(100% - 60px);

  /* 등장 효과 기본값 */
  transform: scale(0.8) translateX(-20%);
  transform-origin: top left;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  z-index: 998;
}

  .keyword-box.open {
    transform: scale(1) translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

    .keyword-box::before {
      display: none; /* 모바일에선 꼬리 숨김 */
    }

    .description {
    display: none !important;
  }
}