.background {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #f0f0f0, #B9D9EB);

    justify-content: center;
    align-items: center;
    overflow: visible;
}

.signUpBox {
    max-width: 500px;
    padding: 32px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: white;
}

.boxContainer {
    display: flex;
    gap: 7px;
}

.emailBox {
    width: 310px;
    height: 20px;
}

.verifyNumBox {
    width: 310px;
    height: 20px;
}

.IDBox {
    width: 330px;
    height: 20px;
}

.pwBox {
    width: 400px;
    height: 20px;
}

.submitButtonContainer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.submitButton {
   background-color: #B9D9EB;
    border-radius: 10px;
    border: 1px solid #9BCBEB;
    font-size: 14px;
    padding: 3px 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.submitButton:hover {
    background-color: #9BCBEB;
}

.buttonContainer {
    background-color: #B9D9EB;
    border-radius: 10px;
    border: 1px solid #9BCBEB;
    font-size: 14px;
    padding: 3px 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.buttonContainer:hover {
    background-color: #9BCBEB;
}

.barWrapper {
    position: relative;
    margin: 20px 0 20px 0;
    width: 480px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 450px;
    height: 15px;
    background-color: #d9d9d6;
    border-radius: 7px;
    overflow: hidden;
    
}

.fill {
    height: 100%;
    background-color: #0077c8;
    transition: width 0.3s ease;
}


.character {
    position: absolute;
    top: -40px;
    width: 80px;
    height: 80px;
    object-fit: contain;
    animation: tilt 0.7s infinite ease-in-out;
    transition: left 0.3s ease;
}

.imgProgress {
    position: absolute;
    top: -25px;
    width: 70px;
    height: 60px;
    animation: tilt 0.7s infinite ease-in-out;
    transition: left 0.3s ease;
}

.imgSuccess {
    position: absolute;
    top: -30px;
    left: -60px;
    width: 60px;
    height: 70px;
    animation: tilt 0.7s infinite ease-in-out;
    transition: left 0.3s ease;
}

@keyframes tilt {
    0% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

@media (max-width: 890px) {
    .barWrapper {
        margin: 100px 0 20px 0;
    }
}

